{% extends 'base.html.twig' %}

{% block body %}
    {% set activeTab = 'brands' %}
    {{ parent() }}

    <div clas="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Brands:</div>
                <!-- Table -->
                <table class="table table-bordered table-hover">
                    <theader class="center">
                        <th>Id</th>
                        <th>Title</th>
                    </theader>
                        {% for brand in brands %}
                            <tr>
                                <td>{{ brand.getId() }}</td>
                                <td>{{ brand.getTitle() }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
