body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #6c6c6c;
	background: #fcfcfc;
}

.form-control:focus {
	border-color: #8200ff;
	box-shadow: none;
}

.navbar {
	background: #E8E8E8;
}
.navbar .navbar-nav>li>a {
	color: #666666;
}
.navbar .navbar-nav>li:hover>a {
	background: #ccc;
}
.navbar .navbar-nav>li.active>a,
.navbar .navbar-nav>li.active:hover>a {
	font-weight: 600;
	color: #fff;
	background: #999;
}
.navbar .dropdown-menu>li>a {
	padding: 8px 20px;
	color: #6c6c6c;
}
.navbar .dropdown-menu {
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
	border: 0;
	border-radius: 0;
}
.navbar .dropdown-menu .divider {
	height: 0;
	margin: 0;
}
.navbar .caret {
	margin-left: 12px;
	border-top-color: #999;
}

/* orders table */
#orders-table_filter {
	font-size: 12px;
	font-weight: 600;
}
#orders-table_filter .filter-by-status {
	display: inline-block;
}
#orders-table {
	font-size: 13px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
#orders-table thead {
	background: #E7E7E7;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
#orders-table thead tr th,
#orders-table tbody tr td {
	border-color: transparent;
	text-align: center;
	padding: 4px 8px;
}
.input-sm {
	border-radius: 0;
}
#orders-table thead th.sorting:after,
#orders-table thead th.sorting_desc:after,
#orders-table thead th.sorting_asc:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: auto;
	right: 8px;
	visibility: visible;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#orders-table thead th.sorting_desc:after {
	margin-top: -2px;
	border-top: 4px solid #000;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: none;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
#orders-table thead th.sorting_asc:after {
	margin-top: -2px;
	border-top: none;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #000;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}

/* inventory table */
#inventory-table_filter {
	font-size: 12px;
	font-weight: 600;
}
#inventory-table_filter .filter-by-status {
	display: inline-block;
}
#inventory-table {
	font-size: 13px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
#inventory-table thead {
	background: #E7E7E7;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
#inventory-table thead tr th,
#inventory-table tbody tr td {
	border-color: transparent;
	text-align: center;
	padding: 4px 8px;
}
.input-sm {
	border-radius: 0;
}
#inventory-table thead th.sorting:after,
#inventory-table thead th.sorting_desc:after,
#inventory-table thead th.sorting_asc:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: auto;
	right: 8px;
	visibility: visible;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#inventory-table thead th.sorting_desc:after {
	margin-top: -2px;
	border-top: 4px solid #000;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: none;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}
#inventory-table thead th.sorting_asc:after {
	margin-top: -2px;
	border-top: none;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid #000;
	filter: alpha(opacity=60);
	-khtml-opacity: 0.6;
	-moz-opacity: 0.6;
	opacity: 0.6;
}


div.dataTables_wrapper div.dataTables_filter {
	text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
	margin-left: 0;
	margin-right: 20px;
}
.dataTables_length {
	text-align: right;
}