{% extends 'base.html.twig' %}

{% block body %}
    {% set activeTab = 'inventory' %}
    {{ parent() }}

    <div clas="row">
        <div class="col-md-12">
            <select class="form-control input-sm" id="js-provider">
                <option value="0">All providers</option>
                {% for provider in providers %}
                        <option value="{{ provider.getId() }}">{{ provider.getTitle() }}</option>
                {% endfor %}
            </select>
            <select class="form-control input-sm" id="js-brand">
                <option value="0">All brands</option>
            </select>

            <table id="inventory-table" class="table">
                <thead>
                    <th>Brand</th>
                    <th>Provider</th>
                    <th>Title</th>
                    <th>UPC</th>
                    <th>SKU</th>
                    <th>ASIN</th>
                    <th>Color</th>
                    <th>CCode</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Whole Price</th>
                    <th>Stock</th>
                    <th>Created At</th>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/inventory.js') }}"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
{% endblock %}
